/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: 'si';
  src: url('../fonts/socicon.eot');
  src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: si;
    src: url(../fonts/socicon.svg) format(svg);
  }
}

.soc {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.soc li a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.8rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  color: #95C21F;
  background-color: #ffffff;
}

.soc li:nth-child(2) a {
  margin-right: 0;
}

.soc li a:hover {
  text-decoration: none;
  opacity: 0.9;
  transform: scale(1.2, 1.2);
}

.soc .soc-facebook {
  color: #ffffff;
  background-color: #95C21F;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  line-height: 37px;
  padding-left: 5px;
  position: relative;
  bottom: 5px;
}

.soc-icon-last {
  margin: 0;
}

.soc-twitter:before {
  content: '\e040';
}

.soc-facebook:before {
  content: '\e041';
}

.soc-instagram:before {
  content: '\e057';
}

/* End social icons */

html {
  color: #222;
  font-size: 18px;
  line-height: 1.4;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: #93bd29;
}

p {
  font-size: .8rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.3rem;
}

.btn { font-size: 0.8rem; }
.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: 0 solid transparent;
  transition: all 0.4s ease-in-out;
}

.navbar-logo {
  width: 60px;
  height: 60px;
  margin-top: -8px;
}

.navbar-default, .navbar-default .navbar-collapse {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.scrolled .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-brand {
  height: 50px;
  position: absolute;
  font-size: 0.8rem;
  line-height: 20px;
  top: 40px;
  left: 150px;
}

.navbar .navbar-right {
  position: absolute;
  font-size: 0.8rem;
  right: 150px;
  top: 55px;
  color: white;
  transition: background .3s ease-in-out;
}

.scrolled .navbar-right {
  background-color: black;
  right: 0;
  top: 0;
  width: 100%;
  padding-left: 185px;
  margin: 0;
}

.navbar-brand img {
  display: inline;
}

.scrolled .navbar-brand span {
  display: none;
}

.scrolled .navbar-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-left: 145px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  text-decoration: underline;
}

.btn-success {
  background-color: #95c21f;
  border-color: #95c21f;
  transition: all .3s ease-in-out;
  padding: 15px 30px;
}

.verto-logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}

.verto-logo-text__light {
  font-weight: 200;
}

.hero-container {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 100px);
  width: 100%;
}

.hero-header {
  height: calc(100vh - 100px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(../images/top-back@2x.jpg) no-repeat 60% 75%;
}

.hero-img, .cta-img {
  position: absolute;
  width: 18rem;
  height: 18rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section:not(.hero-container) {
  background: white;
  position: relative;
}

.counters {
  color: #93bd29;
  font-size: 3.4rem;
  font-family: 'Open Sans';
  font-weight: 300;
}

.verto-counter {
  margin-top: 80px;
}

.who-we-are, .what-we-do {
  margin-top: 100px;
}

.who-we-are a {
  margin-top: 30px;
}

.cta {
  margin-top: 150px;
}

.what-we-do .icon-img {
  width: auto;
  height: 8rem;
  margin-bottom: 30px;
}

.icon-img + p {
  color: #93bd29;
  font-size: 1rem;
}

.icon-img {
  margin-top: 30px;
}

.row-top {
  margin-top: 0;
}

.row-bottom {
  margin-top: 30px;
}

.cta-bg {
  background: url(../images/vesta-back@2x.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
}

.cta-img {
  top: auto;
  right: auto;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  transition: all .9s ease-in;
}

.scrolled-cta .cta-img {
  bottom: 0;
}

.cta-logo {
  width: 200px;
  margin-bottom: 50px;
}

.cta .btn-success {
  margin-top: 20px;
}

.slider-container {
  margin-top: 10px;
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
}

.slider {
  height: calc(100vh - 100px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/large-house@2x.jpg) no-repeat 60% 10%;
  background-size: cover;
}

.slider p {
  color: white;
  margin-top: 30px;
  font-size: 1rem;
}

.slider-text {
  color: white;
  font-size: 3.4rem;
}

.slider-list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
}

.slider-list img {
  width: 100px;
  margin-bottom: 20px;
  margin: 20px auto;
}

#vertoCarousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 65vh;
  transform: translate(-50%, -35%);
}

.slider-list .carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(0%);
}

.item p,
.item h2,
.item img {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.footer {
  font-size: 0.6rem;
  padding: 30px 0 0;
  margin-bottom: 40px;
}

.footer a {
  text-decoration: none;
  color: #93bd29;
}

.footer a:hover {
  text-decoration: underline;
}

.awards {
  margin-top: 30px;
}

.copyright {
  margin-top: 50px;
  font-size: 0.5rem;
}

.hidden-sm-up {
  margin-top: 40px;
  font-size: 1.6rem;
}

.hidden-sm-up:hover {
  cursor: pointer;
}

.web-author {
  margin-top: 10px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.list-margin-60 {
  margin-top: 60px;
}
.hidden {
  display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden .focusable:active,
.visuallyhidden .focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 1240px) {

  .navbar .navbar-right {
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    padding-left: 0;
  }

  .navbar-header {
    display: none
  }

  .hero-header {
    background: url(../images/top-back.jpg) no-repeat 60% 75%;
  }

  .slider {
    background: url(../images/large-house.jpg) no-repeat 35% 8%;
  }

  .cta-bg {
    height: 375px;
    background: url(../images/vesta-back.jpg) no-repeat 100% 70%;
  }

  .counters {
    font-size: 2.5rem;
  }

  .cta {
    margin-top: 60px;
  }

  .who-we-are,
  .what-we-do,
  .verto-counter {
    margin-top: 40px;
  }

  #vertoCarousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 65vh;
    transform: translate(-50%, -40%);
  }

  .cta-img {
    bottom: 0;
  }
}
@media only screen and (max-width: 767px) {

  h1 {
    font-size: 2.8rem;
  }

  .hero-header {
    background: url(../images/top-back.jpg) no-repeat 60% 75%;
  }

  .scrolled .navbar-toggle {
    background-color: white;
  }

  .scrolled .navbar-logo {
    display: none;
  }

  .navbar-brand {
    left: 0;
  }



  .slider-text {
    font-size: 1.4em;
  }

  .navbar .navbar-right {
    position: absolute;
    font-size: 0.8rem;
    top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    margin: 0;
    width: 100%;
    height: 70vh;
    left: 0;
    background: black;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 9999;
    transition: background .3s ease-in-out;
  }

  .who-we-are,
  .what-we-do,
  .verto-counter {
    margin-top: 40px;
  }

  .icon-img:first-child {
    margin-top: 20px;
  }

  .row-top {
    margin-top: 0;
  }

  .cta {
    margin-top: 60px;
  }

  .cta-bg {
    height: 200px;
    background: url(../images/vesta-back.jpg) no-repeat 64% 80%;
  }

  .hero-img {
    width: 120px;
    height: auto;
  }

  .cta-img {
    bottom: 0;
    width: 150px;
    height: 150px;
  }

  #vertoCarousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 65vh;
    transform: translate(-50%, -40%);
  }
  .hidden-sm-up {
    margin-top: 30px;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 2559px) {

  html { font-size: 24px; }

  h1 {
    font-size: 3rem;
    font-weight: 200;
  }

  .btn-success {
    padding: 20px 50px;
    margin: 20px auto;
  }

  .slider-container {
    margin-top: 10px;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .slider-list .carousel-indicators {
    bottom: 0;
  }

  .slider {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/large-house@2x.jpg) no-repeat center top;
  }

  .what-we-do .icon-img:first-child {
    margin-top: 60px;
  }

  #vertoCarousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 65vh;
    transform: translate(-50%, -30%);
  }

  .carousel-indicators li {
    width: 22px;
    height: 22px;
    border-radius: 15px;
  }

  .carousel-indicators .active {
    width: 22px;
    height: 22px;
    border-radius: 15px;
  }

  .footer {
    padding: 30px 0 0;
    margin-bottom: 40px;
  }

}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
